<main class="mt-5">
    <div class="container">
        <div class="card.mx-auto" style="500px;">
            <div class="card-header"></div>
                <img class="card-img-top mx-auto m -2 rounded-circle" src="/img/gslogo.jpg" alt="logo" style="width:40px;heigth:40px;display:block;">
                <h3 class="text-uppercase text-center p-4">Gs Turnos</h3>
            </div>
            <div class="card-body text-center">
                <p>Turnos para consultorios médicos</p>
                <a href="/add" class="btn btn-primary">Crear un paciente</a>


            </div>
    </div>
</main>